<a href="/dashboard">&larr; Back</a>

<div class="admin-title">
  <h2>View / Edit Post</h2>

  <form action="/delete-post/<%= data._id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>
</div>

<form action="/edit-post/<%= data._id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">

  <label><b>Title</b></label>
  <input type="text" name="title" value="<%= data.title %>">

  <label><b>Content</b></label>
  <textarea name="body"><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn">
</form>