
<section class="container main">

  <div class="contact">

    <h1>Contact Me</h1>

    <p>
      If you have any questions, suggestions, or collaboration ideas,
      feel free to send me a message.
    </p>

    <!-- Contact Form -->

    <form action="/contact" method="POST">

      <label>Name</label>
      <input type="text" name="name" placeholder="Your name" required>

      <label>Email</label>
      <input type="email" name="email" placeholder="Your email" required>

      <label>Message</label>
      <textarea name="message" rows="5" placeholder="Write your message..." required></textarea>

      <button class="btn">Send Message</button>

    </form>


    <!-- Social Media -->

    <div class="social-follow">

      <h2>Follow Me</h2>

      <div class="social-buttons">

        <a href="https://github.com/nareshbyte0" target="_blank" class="social-btn github">
          <i class="fa-brands fa-github"></i>
          GitHub
        </a>

        <a href="https://www.linkedin.com/in/naresh-kumarcs/" target="_blank" class="social-btn linkedin">
          <i class="fa-brands fa-linkedin"></i>
          LinkedIn
        </a>

        <a href="https://instagram.com/nareshbyte" target="_blank" class="social-btn instagram">
          <i class="fa-brands fa-instagram"></i>
          Instagram
        </a>

      </div>

    </div>

  </div>

</section>
</section>